header
 { 
    
 }
.banner
 { 
    position: absolute;

 }
 .banner img {
    max-width: 100%;
 }
 
 .banner .welcome {
    position: absolute;
    background-color: blueviolet;
    left:0;
    top 200px;
   }