body {
    background-color: rgb(241, 247, 248);
  }
  h1 {
    color: blue;
    border-color: blueviolet;
    border-style: solid;
  }
  h2{
    color: green;
  }
  h3{
    color: rgb(35, 54, 5);
  }
  p {
    color: rgb(0, 0, 0);
  }